{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-start" id="home-bg">
    <div class="row bg-transparent">
        <div class="col-12 bg-transparent">
            <h1 class="text-upper text-center bg-transparent secondary-font-color" id="change-head">The Time to Change is now</h1>
        </div>
        <div class="col-12 bg-transparent text-center">
            <a href="#" class="bg-transparent">
                <button type="button" class="btn btn-primary btn-lg" id="shop-now-btn">Shop Now</button>
            </a>
        </div>
        <div class="col-12 bg-transparent text-center">
            <a href="{% url 'about_us' %}" class="bg-transparent">
                <button type="button" class="btn btn-secondary btn-lg mt-4" >Learn More</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}