{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container-fluid" id="home-bg">
    <div class="row dark-bg">
        <div class="col-12 text-center  bg-transparent">
            <h2 class="text-upper welcome-text  bg-transparent mt-1">
                limited time only free delivery for all orders until June 2024!
            </h2>
        </div>
    </div>
    <div class="row bg-transparent">
        <div class="col-12 bg-transparent">
            <h1 class="text-upper text-center bg-transparent home-header " id="change-head">The Time to Change is now</h1>
        </div>
        <div class="col-12 bg-transparent text-center">
            <a href="{% url 'products' %}" class=" btn btn-primary btn-lg">
                Shop Now
            </a>
        </div>
        <div class="col-12 bg-transparent text-center">
            <a href="{% url 'about_us' %}" class=" btn btn-secondary btn-lg mt-4">
                Learn More
            </a>
        </div>
    </div>
</div>
{% endblock %}