{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-upper">Purchase Successful</h1>
            <hr>
            <p class="text-black">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-7"></div>
        </div>
        <div class="row">
			<div class="col-12 col-lg-7 text-right">
				<a href="{% url 'products' %}">
					<button id="submit-button" class="btn btn-primary btn-md">
                        <span class="text-upper bg-transparent">Check out our other products!</span>
                    </button>
				</a>
			</div>
		</div>
    </div>
{% endblock %}


