/* Main Setup */
* {
    background:#F8FAF8;
    font-family: Sarabun, sans-serif;
    color: #1B1A19;
    --bs-navbar-toggler-border-color:#1B1A19;
}

/* General Rules */
body {
    background-color: #F8FAF8;
}

.text-upper {
    text-transform: uppercase;
}

.bg-transparent {
    background: transparent;
}

.dark-bg {
    background-color: #202123;
}

.secondary-font-color {
    color: #F8FAF8;
}

.btn-primary {
    background-color: #FA9E05;
    border-color: #FA9E05;
}

.btn-primary:hover {
    background-color: #D46C1E;
    border-color: #D46C1E;
}

.btn-secondary {
    background-color: #486C79;
    border-color: #486C79;
}

h1,
h2,
h3,
h4,
.head-font {
    font-family: "Anton", sans-serif;
}

.hover:hover {
    cursor: pointer;
}

strong {
    font-weight: bold;
    text-transform: uppercase;
}

.img-border {
    border:2px solid #1B1A19 ;
}

a {
    text-decoration: none;
    color: #202123;
}

.text-info {
    color: #486C79;
}

/* Nav Bar */
header {
    height: 60px;
}
.nav-link,
.dropdown-item {
    font-family: Anton, sans-serif ;
    font-size: larger;
}

.dropdown-menu {
    background-color: #F8FAF8;
    border-color: #1B1A19;
}

hr {
    width: 100%;
    color: #202123;
    opacity: 1;
    border-top: 2px solid;
}

/* Index page */
#home-bg {
    height: calc(100vh - 60px);
    background: url('/media/gloves-dumbbells.jpg') no-repeat center center fixed;
    background-size: cover;
}

#change-head {
    font-weight: 800;
    font-size: 3.5rem;
}

#shop-now-btn {
    font-size: 1.75rem;
}

/* About Us page */

#about-us-banner {
    background-color: #202123;
}

/* Products page */
.form-control:focus  {
    box-shadow: 0 0 0 0.25rem #486C79;
}

.product-name-link {
    font-family: "Anton", sans-serif;
}

.card-title:hover {
    color:#486C79 ;
}

.card-title {
    font-family: "Anton", sans-serif;
}

/* Product Detail page */

.product-image {
    max-height: 70vh;
}

/* Shopping Bag page */
.table {
    --bs-table-bg: transparent;
}

.update-link,
.remove-item {
    cursor: pointer;
}

/* Toasts */

.bag-contents-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* All Auth */

.requiredField {
    margin-bottom: 0.5rem;
}

.textInput {
    margin-bottom: 0.5rem;
}

.form-check {
    margin-bottom: 0.5rem;
}

/* Media Queries */

@media (max-width: 576px) {
    .btn {
        padding: 0.378rem 0.3rem ;
    }
}