{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 mt-1 text-center">
            {% if product.image %}
            <img src="{{ MEDIA_URL }}{{ product.image }}" class="img-fluid rounded img-border product-image p-2"
                alt="{{ product.name }}">
            {% else %}
            <img src="{{ MEDIA_URL }}noimage.png" class="img-fluid rounded img-border product-image p-2"
                alt="{{ product.name }}">
            {% endif %}
        </div>
        <div class="col-12 col-md-6 mt-1 text-center d-flex justify-content-center align-items-center flex-column">
            <h1>{{ product.name }}</h1>
            <hr>
            <h2>{{ product.category }}</h2>
            <h3>
            $ {{ product.price }}
            </h3>
            <p><i class="fa-solid fa-star"></i> {{ product.rating }}</p>
            <div class="product-description col-md-6">
                <p>{{ product.description }}</p>
            </div>
            {% include 'products/includes/add_product_form.html' %}
            {% if request.user.is_superuser %}
            <div class=" d-flex justify-content-center mb-2 col-10 flex-row  mt-2 ">
                <a href="{% url 'edit_product' product.id %}" class="text-center mb-1 mx-1 btn btn-info">
                    Edit Product
                </a>
                <a href="{% url 'delete_product' product.id %}" class="text-center mx-1 btn btn-danger">
                    Delete Product
                </a>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}