{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 mt-1 text-center">
            <img src="{{ MEDIA_URL }}{{ product.image }}" class="img-fluid rounded img-border product-image p-2"
                alt="{{ product.name }}">
        </div>
        <div class="col-12 col-md-6 mt-1 text-center d-flex justify-content-center align-items-center flex-column">
            <h1>{{ product.name }}</h1>
            <hr>
            <a href="">
                <h3>{{ product.category }}</h3>
            </a>
            $ {{ product.price }}
            </h3>
            <p><i class="fa-solid fa-star"></i> {{ product.rating }}</p>
            <div class="product-description col-md-6">
                <p>{{ product.description }}</p>
            </div>
            {% include 'products/includes/add_product_form.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}